@import "../../theme/theme.less";

.textButton {
  cursor: pointer;
}

.viewButton {
  color: rgba(0, 0, 0, 0.45);
}

.editButton {
  color: @primary-color;
}

.deleteButton {
  color: @error-color;
}